# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local development settings
local_settings.py

# Database
db.sqlite3

# Static files (usually collected by Django's collectstatic)
staticfiles/

# Media files
media/

# Virtual environment
venv/

# Ignore environment variables file
.env

# Ignore Visual Studio Code settings
.vscode/

# Ignore PyCharm settings
.idea/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db
